body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    font-family: sans-serif;
    font-size: 0;    
}

header {
    width: 90%;
    padding: 2.5%;
    background-image: linear-gradient(gray, white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.header__cats {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;        
}

.header__cats p a {
    font-size: 20px;
    font-weight: normal;
    color: gray;
    text-align: right;
    text-decoration: none;
}

.headerup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerup__logo img {
    display: block;
    width: 40%;
}

.searchfield {
    display: none;
    justify-content: center;
    align-items: center;
}

.searchfield input {
    height: 25px;
    width: 300px;
}

.searchfield button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    width: 30px;
    height: 30px;
    
}

.headerup__usericons {
    width: 50%;
    margin-right: 2.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerup__usericons > img {
    margin: 0 10px;
}

.headerup__usericons > img:hover {
    border: 3px solid #333333;
    border-radius: 50%;
}

main {
    width: 90%;
    padding: 2.5%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.breadcrumbs {
    width: 100%;
    display: block;
    font-size: 18px;
    /* border: 1px solid black;     */
}

.breadcrumbs > a {
    color: #333333;
}

.catalog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.catalog h3 {
    width: 100%;
    font-size: 48px;
    color: #333333;
    text-align: left;
}

.catalog h3 > a {
    text-decoration: none;
    color: #333333;
}

.catalog__container {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.catalog__container-item {
    width: 30%;
    padding: 1%;    
}

.catalog__container-item img {
    display: block;
    width: 100%;
    margin: 0;    
}

.catalog__container-item h4 {
    width: 100%;
    margin: 0;
    font-size: 28px;    
    font-weight: normal;
    text-align: center;    
}

.catalog__container-item h4 a {
    color: #333333;
    text-decoration: none;
}

.catalog__container-item h4:hover {
    font-weight: bold;
    text-decoration: underline;
}

.statpage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}

.statpage h3 {
    width: 100%;
    font-size: 48px;    
    text-align: left;
}

.statpage h3 a {
    color: #333333;
    text-decoration: none;
}

.statpage__content {
    width: 100%;
    font-size: 20px;
    color: #333333;
    text-align: left;
}

.registration {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}

.registration > h2 {
    width: 100%;
    font-size: 48px;
    color: #333333;
    text-align: center;
}

.registration__cell, .registration__cell-buttons {
    width: 20%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
}

.registration__cell-buttons {
    justify-content: space-around;
}

.registration__cell > input {
    width: 90%;
}

.registration__cell-buttons > button {
    width: 30%;
    height: 30px;
}

footer {
    width: 90%;
    padding: 2.5%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;    
    background-color: azure;    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.footer__columns h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-align: left;    
}

.footer__columns p {
    margin-top: 18px;
}

.footer__columns p a {
    font-size: 16px;
    font-weight: normal;
    color: gray;
    text-decoration: none;
    text-align: left;        
}

.header__cats p a:hover, .footer__columns p a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(2px) grayscale(70%);
}

.modal-dialog {
    padding: 10px;
    background-color: white;
    width: 25%;
    border-radius: 20px;
    position: absolute;
    top: 30%;
    left: calc(30% - 50px);
    font-family: sans-serif;
}

.uppericons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;    
}

.uppericons p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    font-weight: normal;
    border: 1px solid black;
    border-radius: 10px;
    width: 30px;
    height: 30px;

}

.uppericons p:hover {
    font-weight: bold;
    border-width: 2px;
}

.modal-dialog h4 {
    margin: 0;
    margin-top: 20px;
    line-height: 1;
    margin-bottom: 30px;
    font-size: 30px;
    color: #333333;
    text-align: center;
}

.modal-dialog__datafield {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.modal-dialog__datafield {
    width: 100%;
}

.modal-dialog__datafield a {
    font-size: 14px;
    color: #333333;
    text-decoration: none;
    margin: 10px;
}

.modal-dialog__datafield a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.modal-dialog__datafield button {
    width: 30%;
}

.userdata {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;    
}

.userdata__avatar {
    margin: 10px;    
}

.userdata__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.userdata__details h3 {
    width: 100%;
    display: block;
    font-size: 40px;
    color: #333333;
    text-align: center;
}

.userdata__details-fieldname, .userdata__details-fielddata {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    padding: 5px;
}

.userdata__details-fielddata {
    font-weight: normal;
}

.userdata__details-buttons {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;    
}

.userdata__details-buttons button {
    height: 30px;
    font-size: 16px;
    color: black;
}

.blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.blog h2 {
    width: 100%;
    font-size: 40px;
    color:#333333;
    text-align: left;
}

.blog__article {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
}

.blog__article img {
    display: block;
    width: 30%;
}

.blog__article-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.blog__article-container h3 {
    width: 100%;
    font-size: 25px;    
    text-align: center;
    
}

.blog__article-container h3 a {
    color: #333333;
    text-decoration: none;
}

.blog__article-container p {
    color: #333333;
    font-size: 16px;
    text-align: left;    
}

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.article h3 {
    width: 100%;
    font-size: 35px;
    color: #333333;
    text-align: center;
}

.article img {
    display: block;
    width: 33%;
}

.article div {
    width: 95%;
    margin: 1%;
    font-size: 16px;
    text-align: left;
    color: #333333;
}

.goodslist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.goodslist__sidepanel {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.goodslist__sidepanel h4 {
    width: 100%;    
    font-size: 24px;
    text-align: center;
}

.goodslist__sidepanel ul li {
    font-size: 14px;
    list-style-type: none;
}

.goodslist__sidepanel ul li a {
    color: #333333;
    text-decoration: none;
}

.goodslist__sidepanel ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.goodslist__sidepanel ul {
    margin-bottom: 20px;
}

.goodslist__container {
    width: 70%;
    display: flex;    
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.goodslist__container-item {
    width: 45%;
    padding: 2%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: flex-start;
}

.goodslist__container-item img {
    display: block;
    width: 90%;    
}

.goodslist__container-item h5 {
    width: 100%;
    margin: 1%;
    font-size: 25px;
    text-align: center;    
}

.goodslist__container-item h5 a {
    color: #333333;
    text-decoration: none;
}

.goodslist__container-item h5 a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.goodslist__container-item p {
    width: 100%;
    margin: 1%;
    font-size: 18px;
    font-weight: 500;
    text-align: center;    
}